 <label for="exampleDataList" class="form-label"></label>
<input class="form-control" style="width:900px;margin:auto" list="datalistOptions" id="exampleDataList" placeholder="Search" >
<datalist id="datalistOptions">
  <option value="San Francisco">
  <option value="New York">
  <option value="Seattle">
  <option value="Los Angeles">
  <option value="Chicago">
</datalist>

